body {
    font-family: Arial, sans-serif;
    background-color: #f0ead2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.progress-bar {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.step {
    width: 30px;
    height: 8px;
    background-color: #ccc;
    border-radius: 4px;
}

.step.active {
    background-color: #4caf50;
}

.container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: #ba9171;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="file"] {
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #e0e1dd;
    color: #000000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 40px;
    font-size: 16px;
    width: 100%;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

button:hover {
    background-color: #00ff37;
}

#output {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}